#logo {
  margin-top: 80px;
  margin-bottom: 120px;
}

#splash {
  position: absolute;
  background: url(splash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  text-align: center;
  background: transparent repeat top left;
  height: 100%;
  width: 100%;
}
