<div id="splash">
  <header class="header">
    <div class="container">
      <h1 id="logo" class="animated bounceIn">Classes with Me</h1>
      <div class="later">
        <p id="hook" class="animated fadeInDown">Who else is in your class?</p>
        <p id="desc" class="animated fadeInDown">Share your schedule with friends and find classmates. It's free!</p>
        <% unless current_user %>
          <%= button_to "Login with Facebook", "/auth/facebook", :id => "fbLogin",
            :class => "btn btn-primary animated fadeInDown", :method => :get %>
          <!-- <%= icon('facebook-square', 'Login with Facebook', class: 'fa-lg')%> -->
        <% else %>
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% end %>
      </div>
    </div>
  </header>
</div>
