<div id="splash">
  <header class="header">
    <div class="container">
      <h1 id="logo" class="animated bounceIn">Classes with Me</h1>
      <div class="later">
        <p id="hook" class="animated fadeInDown">Who else is in your class?</p>
        <p id="desc" class="animated fadeInDown">Share your schedule with friends and find classmates. It's free!</p>
        <button id="fbLogin" class="btn btn-primary animated fadeInDown"><%= icon('facebook-square', 'Login with Facebook', class: 'fa-lg')%></button>
      </div>
    </div>
  </header>
</div>
