<div id="splash">
  <header class="header">
    <div class="container">
      <h1 id="logo" class="animated bounceIn">ClassesWith.Me</h1>
      <div class="later">
        <p id="hook" class="animated fadeInDown">Find out who else is in your classes.</p>
        <p id="desc" class="animated fadeInDown">Share your schedule with your friends and find your classmates. It's free!</p>
        <button id="fbLogin" class="btn btn-primary animated fadeInDown"><i class="fa fa-facebook-square"></i>&ensp;Login with Facebook</button>
      </div>
    </div>
  </header>
</div>
